name: First_Workflow
on: workflow_dispatch
jobs:
  first-job:
    runs-on: ubuntu-latest
    steps:
      - name: Print greeting
        run: |
            echo "Hello world!"
            echo "Second output"
      - name: Print goodbye
        run: echo "Done, bye!"
